In [1]:
n = int(input("사람 수를 입력하시오: "))

사람 수를 입력하시오:  10

In [2]:
s_list = [input() for _ in range(n)]

 고민승
 김민성
 김상민
 김성준
 김철민
 나종서
 이범주
 이지훈
 이현재
 최유진

In [3]:
from random import *

seat = []
for i in range(n):
    a = randint(1,10)
    while a in seat:
        a = randint(1,10)
    print(a)
    seat.append(a)

1
5
2
8
9
4
6
3
10
7

In [4]:
seat, s_list

([1, 5, 2, 8, 9, 4, 6, 3, 10, 7],
 ['고민승', '김민성', '김상민', '김성준', '김철민', '나종서', '이범주', '이지훈', '이현재', '최유진'])

In [5]:
C = [seat, s_list]
A = [x for x in zip(*C)]
A, C

([(1, '고민승'),
  (5, '김민성'),
  (2, '김상민'),
  (8, '김성준'),
  (9, '김철민'),
  (4, '나종서'),
  (6, '이범주'),
  (3, '이지훈'),
  (10, '이현재'),
  (7, '최유진')],
 [[1, 5, 2, 8, 9, 4, 6, 3, 10, 7],
  ['고민승', '김민성', '김상민', '김성준', '김철민', '나종서', '이범주', '이지훈', '이현재', '최유진']])

In [6]:
y = sorted(A, key=lambda A:A[0])
y

[(1, '고민승'),
 (2, '김상민'),
 (3, '이지훈'),
 (4, '나종서'),
 (5, '김민성'),
 (6, '이범주'),
 (7, '최유진'),
 (8, '김성준'),
 (9, '김철민'),
 (10, '이현재')]

In [7]:
import numpy as np
seatarr = np.empty(0, dtype='object')
seatarr = np.append(seatarr,y)

In [8]:
seatarr, seatarr.shape

(array(['1', '고민승', '2', '김상민', '3', '이지훈', '4', '나종서', '5', '김민성', '6',
        '이범주', '7', '최유진', '8', '김성준', '9', '김철민', '10', '이현재'],
       dtype=object),
 (20,))

In [9]:
seatarr = seatarr.reshape(-1,2)
seatarr

array([['1', '고민승'],
       ['2', '김상민'],
       ['3', '이지훈'],
       ['4', '나종서'],
       ['5', '김민성'],
       ['6', '이범주'],
       ['7', '최유진'],
       ['8', '김성준'],
       ['9', '김철민'],
       ['10', '이현재']], dtype=object)

In [10]:
s0 = np.array(seatarr[:,0], dtype='int').reshape(-1,1)
s1 = seatarr[:,1].reshape(-1,1)

In [11]:
s1

array([['고민승'],
       ['김상민'],
       ['이지훈'],
       ['나종서'],
       ['김민성'],
       ['이범주'],
       ['최유진'],
       ['김성준'],
       ['김철민'],
       ['이현재']], dtype=object)

In [14]:
s1 = s1.reshape(2,-1)

In [15]:
s1

array([['고민승', '김상민', '이지훈', '나종서', '김민성'],
       ['이범주', '최유진', '김성준', '김철민', '이현재']], dtype=object)

In [16]:
sss=str(s1)
sss

"[['고민승' '김상민' '이지훈' '나종서' '김민성']\n ['이범주' '최유진' '김성준' '김철민' '이현재']]"