In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = 'C:/Users/smartgrid_AI/Documents/kms/Python_Study/3. World Energy Consumption.csv'
dat_source = pd.read_csv(data_path)
dat_source = pd.DataFrame(dat_source)
#dat_s = np.array(dat_source, dtype='float')

In [3]:
dat_source

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,-25.013,-10.847,NaN,NaN,NaN,NaN,-0.789,...,0.579,NaN,2.503057e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17428,ZWE,Zimbabwe,2016,-37.694,-12.257,NaN,NaN,NaN,NaN,-14.633,...,0.641,NaN,2.515176e+10,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17429,ZWE,Zimbabwe,2017,8.375,1.697,NaN,NaN,NaN,NaN,NaN,...,0.773,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17430,ZWE,Zimbabwe,2018,22.555,4.952,NaN,NaN,NaN,NaN,NaN,...,0.970,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17431,ZWE,Zimbabwe,2019,-35.015,-9.422,NaN,NaN,NaN,NaN,NaN,...,0.956,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [4]:
dat_name = dat_source.iloc[:,0:3]
dat_val = dat_source.iloc[:,28:40]

In [5]:
dat_val

,electricity_generation,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,renewables_electricity,solar_electricity
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
17427,9.388,0.128,4.312,4.312,0.0,4.940,0.0,0.0,0.128,0.0,5.076,0.008
17428,6.826,0.147,3.715,3.715,0.0,2.955,0.0,0.0,0.147,0.0,3.111,0.009
17429,7.310,0.151,3.219,3.219,0.0,3.929,0.0,0.0,0.151,0.0,4.091,0.011
17430,9.133,0.187,3.932,3.932,0.0,5.000,0.0,0.0,0.187,0.0,5.201,0.014
17431,9.046,0.207,3.805,3.805,0.0,5.020,0.0,0.0,0.207,0.0,5.241,0.014

In [6]:
dat = pd.concat([dat_name, dat_val], axis=1)

In [7]:
dat

,iso_code,country,year,electricity_generation,biofuel_electricity,coal_electricity,fossil_electricity,gas_electricity,hydro_electricity,nuclear_electricity,oil_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,renewables_electricity,solar_electricity
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,9.388,0.128,4.312,4.312,0.0,4.940,0.0,0.0,0.128,0.0,5.076,0.008
17428,ZWE,Zimbabwe,2016,6.826,0.147,3.715,3.715,0.0,2.955,0.0,0.0,0.147,0.0,3.111,0.009
17429,ZWE,Zimbabwe,2017,7.310,0.151,3.219,3.219,0.0,3.929,0.0,0.0,0.151,0.0,4.091,0.011
17430,ZWE,Zimbabwe,2018,9.133,0.187,3.932,3.932,0.0,5.000,0.0,0.0,0.187,0.0,5.201,0.014
17431,ZWE,Zimbabwe,2019,9.046,0.207,3.805,3.805,0.0,5.020,0.0,0.0,0.207,0.0,5.241,0.014

In [8]:
dat.shape, dat.shape[0]

((17432, 15), 17432)

In [9]:
dat_source["population"]

0         5021241.0
1         5053439.0
2         5085403.0
3         5118005.0
4         5150814.0
            ...
17427    13815000.0
17428    14030000.0
17429    14237000.0
17430    14439000.0
17431    14645000.0
Name: population, Length: 17432, dtype: float64

In [10]:
dat_chn = np.zeros((15))
dat_pop = np.zeros(1)
for i in range(dat.shape[0]):
    if dat.iloc[i,0] == 'CHN' or dat.iloc[i,0] == 'DEU' or dat.iloc[i,0] == 'ITA' or dat.iloc[i,0] == 'JPN' or dat.iloc[i,0] == 'KOR' or dat.iloc[i,0] == 'USA':
        #print(dat.iloc[i,0])
        dat_chn = np.concatenate([dat_chn.reshape(-1,15), np.array(dat.iloc[i,:]).reshape(-1,15)])
        dat_pop = np.concatenate([dat_pop, np.array(dat_source["population"].iloc[i]).reshape(-1)])

In [11]:
dat_chn.shape, dat_pop.shape

((727, 15), (727,))

In [12]:
dat_new = dat_chn.reshape(-1,15)
dat_pop = dat_pop.reshape(-1,1)

In [13]:
dat_new

array([[0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0],
       ['CHN', 'China', 1900, ..., nan, nan, nan],
       ['CHN', 'China', 1901, ..., nan, nan, nan],
       ...,
       ['USA', 'United States', 2018, ..., 15.967, 730.502, 93.365],
       ['USA', 'United States', 2019, ..., 15.472999999999999, 757.393,
        106.89399999999999],
       ['USA', 'United States', 2020, ..., 16.93, 827.938, 132.63]],
      dtype=object)

In [14]:
dat_new2 = np.concatenate([dat_new, dat_pop],axis=1)

In [15]:
dat_new2

array([[0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0],
       ['CHN', 'China', 1900, ..., nan, nan, 400774176.0],
       ['CHN', 'China', 1901, ..., nan, nan, 402934752.0],
       ...,
       ['USA', 'United States', 2018, ..., 730.502, 93.365, 327096000.0],
       ['USA', 'United States', 2019, ..., 757.393, 106.89399999999999,
        329064992.0],
       ['USA', 'United States', 2020, ..., 827.938, 132.63, nan]],
      dtype=object)

In [16]:
df = pd.DataFrame(dat_new2[1:,:])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,CHN,China,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00774e+08
1,CHN,China,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.02935e+08
2,CHN,China,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.05061e+08
3,CHN,China,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.07294e+08
4,CHN,China,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.09563e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,USA,United States,2016,4095.49,62.76,1239.15,2668.22,1391.11,261.126,805.694,37.959,78.586,15.826,621.571,54.866,3.23016e+08
722,USA,United States,2017,4058.26,62.762,1205.84,2549.2,1308.88,293.839,804.95,34.486,78.688,15.927,704.106,77.276,3.25085e+08
723,USA,United States,2018,4203.94,61.901,1145.96,2666.35,1482.19,286.619,807.084,38.199,77.868,15.967,730.502,93.365,3.27096e+08
724,USA,United States,2019,4161.83,57.507,964.957,2595.03,1598.3,282.613,809.409,31.772,72.98,15.473,757.393,106.894,3.29065e+08
725,USA,United States,2020,4049.85,56.055,773.806,2431.99,1629.24,285.79,789.919,28.947,72.985,16.93,827.938,132.63,NaN

In [17]:
df=df.fillna(0) #df.replace(np.NaN,0)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,CHN,China,1900,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,400774176.0
1,CHN,China,1901,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,402934752.0
2,CHN,China,1902,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,405061184.0
3,CHN,China,1903,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,407294080.0
4,CHN,China,1904,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,409562848.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,USA,United States,2016,4095.487,62.760,1239.149,2668.222,1391.114,261.126,805.694,37.959,78.586,15.826,621.571,54.866,323016000.0
722,USA,United States,2017,4058.261,62.762,1205.835,2549.205,1308.884,293.839,804.950,34.486,78.688,15.927,704.106,77.276,325084992.0
723,USA,United States,2018,4203.937,61.901,1145.962,2666.350,1482.189,286.619,807.084,38.199,77.868,15.967,730.502,93.365,327096000.0
724,USA,United States,2019,4161.834,57.507,964.957,2595.032,1598.303,282.613,809.409,31.772,72.980,15.473,757.393,106.894,329064992.0
725,USA,United States,2020,4049.847,56.055,773.806,2431.990,1629.237,285.790,789.919,28.947,72.985,16.930,827.938,132.630,0.0

In [18]:
def myfun(x):
    y = []
    for i in range(max(x.shape)):
        if x.iloc[i,0] == 'CHN' or x.iloc[i,0] == 'JPN' or x.iloc[i,0] == 'KOR':
            if x.iloc[i,15]!=0:
                if i==0:
                    y2 = np.array(sum(x.iloc[i,4:14])/x.iloc[i,15])
                else:
                    y2 = np.concatenate([y2.reshape(-1,1), np.array(sum(x.iloc[i,4:14])/x.iloc[i,15]).reshape(-1,1)])
            else:
                if i==0:
                    y2 = np.NaN
                else:
                    y2 = np.concatenate([y2.reshape(-1,1), np.array(np.NaN).reshape(-1,1)])
    y2 = np.array(y2)
    return y2

In [19]:
result = myfun(df)

In [20]:
result = result.reshape(3,-1)
result

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 7.63656012e-07, 8.21048851e-07, 8.91083663e-07,
        9.58422227e-07, 1.00972326e-06, 1.05566567e-06, 1.13596478e-06,
        1.24946731e-06, 1.33027187e-06, 1.49627246e-06, 1.61219132e-06,
        1.71629216e-06, 1.78801592e-06, 1.82355260e-06, 1.92206567e-06,
        2.03330587e-06, 2.24221597e-06, 2.48182956e-06, 2.79546263e-06,
        3.23110671e-06, 3.60161648e-06, 4.11305376e-06, 4.74591126e-06,
        5.02014369e-06, 5.33648568e-06, 6.09500139e-06, 6.75649342e-06,
        7.07997245e-06, 7.56151195e-06, 7.81669163e-06, 7.91663350e-06,
        8.19667480e-06, 8.66306110e-06, 9.28001860e-06, 9.61599333e-06,
                   nan],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 9.62561637e-06, 9.59532769e-06, 1.00435676e-05,
        1.06874863e-05, 1.12840745e-05, 1.24536926e-05, 1.27395742e-05,
        1.27453543e-05, 1.25585846e-05, 1.33936915e-05, 1.35321173e-05,
        1.37285304e-05, 1.38740514e-05, 1.38934997e-05, 1.42714214e-05,
        1.38100671e-05, 1.35312025e-05, 1.39746741e-05, 1.42401880e-05,
        1.43342797e-05, 1.44265231e-05, 1.46090031e-05, 1.54339269e-05,
        1.44379682e-05, 1.38068764e-05, 1.54557888e-05, 1.63361505e-05,
        1.63291519e-05, 1.64921443e-05, 1.60917304e-05, 1.56737274e-05,
        1.55483278e-05, 1.54943884e-05, 1.51107608e-05, 1.43362131e-05,
                   nan],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 2.63800118e-06, 2.64706167e-06, 2.84093362e-06,
        3.39674959e-06, 3.68767504e-06, 4.20979542e-06, 4.69847601e-06,
        5.30920452e-06, 5.91164994e-06, 6.79518072e-06, 7.36566357e-06,
        8.09833665e-06, 8.88851849e-06, 8.16681324e-06, 8.86600591e-06,
        9.32014183e-06, 1.00074205e-05, 1.06214375e-05, 1.08854147e-05,
        1.17225167e-05, 1.21420710e-05, 1.26468290e-05, 1.36449679e-05,
        1.41340328e-05, 1.44307050e-05, 1.60754652e-05, 1.67784116e-05,
        1.71722898e-05, 1.75512255e-05, 1.74337654e-05, 1.73179860e-05,
        1.77149246e-05, 1.80451699e-05, 1.91496717e-05, 1.85760469e-05,
                   nan]])

In [21]:
result2 = result[:,-28:]

In [22]:
result2

array([[1.33027187e-06, 1.49627246e-06, 1.61219132e-06, 1.71629216e-06,
        1.78801592e-06, 1.82355260e-06, 1.92206567e-06, 2.03330587e-06,
        2.24221597e-06, 2.48182956e-06, 2.79546263e-06, 3.23110671e-06,
        3.60161648e-06, 4.11305376e-06, 4.74591126e-06, 5.02014369e-06,
        5.33648568e-06, 6.09500139e-06, 6.75649342e-06, 7.07997245e-06,
        7.56151195e-06, 7.81669163e-06, 7.91663350e-06, 8.19667480e-06,
        8.66306110e-06, 9.28001860e-06, 9.61599333e-06,            nan],
       [1.25585846e-05, 1.33936915e-05, 1.35321173e-05, 1.37285304e-05,
        1.38740514e-05, 1.38934997e-05, 1.42714214e-05, 1.38100671e-05,
        1.35312025e-05, 1.39746741e-05, 1.42401880e-05, 1.43342797e-05,
        1.44265231e-05, 1.46090031e-05, 1.54339269e-05, 1.44379682e-05,
        1.38068764e-05, 1.54557888e-05, 1.63361505e-05, 1.63291519e-05,
        1.64921443e-05, 1.60917304e-05, 1.56737274e-05, 1.55483278e-05,
        1.54943884e-05, 1.51107608e-05, 1.43362131e-05,            nan],
       [5.91164994e-06, 6.79518072e-06, 7.36566357e-06, 8.09833665e-06,
        8.88851849e-06, 8.16681324e-06, 8.86600591e-06, 9.32014183e-06,
        1.00074205e-05, 1.06214375e-05, 1.08854147e-05, 1.17225167e-05,
        1.21420710e-05, 1.26468290e-05, 1.36449679e-05, 1.41340328e-05,
        1.44307050e-05, 1.60754652e-05, 1.67784116e-05, 1.71722898e-05,
        1.75512255e-05, 1.74337654e-05, 1.73179860e-05, 1.77149246e-05,
        1.80451699e-05, 1.91496717e-05, 1.85760469e-05,            nan]])

In [23]:
from myfunc import *

In [28]:
mod1 = adding(df).reshape(3,-1)
mod2 = addanddivide(df).reshape(3,-1)

In [29]:
mod1, mod2

(array([[    0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,   821.38 ,   899.06 ,   994.534,  1090.42 ,  1169.62 ,
          1242.396,  1355.089,  1507.746,  1621.358,  1840.445,  2000.602,
          2148.173,  2256.469,  2319.526,  2463.156,  2624.085,  2912.93 ,
          3244.625,  3676.883,  4275.029,  4792.945,  5504.948,  6387.968,
          6795.111,  7263.859,  8342.905,  9300.3  ,  9800.14 , 10524.74 ,
         10939.1  , 11137.5  , 11590.5  , 12310.4  , 13248.6  , 13787.258,
               nan],
        [    0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,  1173.199,  1175.514,  1236.092,  1320.813,  1399.891,
          1550.547,  1591.555,  1597.388,  1578.702,  1688.315,  1709.986,
          1738.636,  1760.52 ,  1766.1  ,  1817.123,  1761.115,  1728.124,
          1787.263,  1823.57 ,  1837.712,  1851.298,  1876.132,  1983.167,
          1855.842,  1774.943,  1986.718,  2099.179,  2097.055,  2116.173,
          2062.461,  2006.002,  1986.501,  1975.581,  1922.119,  1818.692,
               nan],
        [    0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,     0.   ,     0.   ,     0.   ,     0.   ,     0.   ,
             0.   ,   107.641,   109.231,   118.43 ,   142.959,   156.693,
           180.676,   203.787,   232.798,   262.093,   304.56 ,   333.613,
           370.507,   410.614,   380.745,   416.853,   441.579,   477.414,
           509.829,   525.341,   568.46 ,   591.331,   618.177,   669.081,
           695.14 ,   712.112,   796.475,   835.33 ,   859.662,   883.634,
           882.288,   880.152,   903.16 ,   922.036,   979.927,   951.558,
               nan]]),
 array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 7.63656012e-07, 8.21048851e-07, 8.91083663e-07,
         9.58422227e-07, 1.00972326e-06, 1.05566567e-06, 1.13596478e-06,
         1.24946731e-06, 1.33027187e-06, 1.49627246e-06, 1.61219132e-06,
         1.71629216e-06, 1.78801592e-06, 1.82355260e-06, 1.92206567e-06,
         2.03330587e-06, 2.24221597e-06, 2.48182956e-06, 2.79546263e-06,
         3.23110671e-06, 3.60161648e-06, 4.11305376e-06, 4.74591126e-06,
         5.02014369e-06, 5.33648568e-06, 6.09500139e-06, 6.75649342e-06,
         7.07997245e-06, 7.56151195e-06, 7.81669163e-06, 7.91663350e-06,
         8.19667480e-06, 8.66306110e-06, 9.28001860e-06, 9.61599333e-06,
                    nan],
        [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 9.62561637e-06, 9.59532769e-06, 1.00435676e-05,
         1.06874863e-05, 1.12840745e-05, 1.24536926e-05, 1.27395742e-05,
         1.27453543e-05, 1.25585846e-05, 1.33936915e-05, 1.35321173e-05,
         1.37285304e-05, 1.38740514e-05, 1.38934997e-05, 1.42714214e-05,
         1.38100671e-05, 1.35312025e-05, 1.39746741e-05, 1.42401880e-05,
         1.43342797e-05, 1.44265231e-05, 1.46090031e-05, 1.54339269e-05,
         1.44379682e-05, 1.38068764e-05, 1.54557888e-05, 1.63361505e-05,
         1.63291519e-05, 1.64921443e-05, 1.60917304e-05, 1.56737274e-05,
         1.55483278e-05, 1.54943884e-05, 1.51107608e-05, 1.43362131e-05,
                    nan],
        [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 2.63800118e-06, 2.64706167e-06, 2.84093362e-06,
         3.39674959e-06, 3.68767504e-06, 4.20979542e-06, 4.69847601e-06,
         5.30920452e-06, 5.91164994e-06, 6.79518072e-06, 7.36566357e-06,
         8.09833665e-06, 8.88851849e-06, 8.16681324e-06, 8.86600591e-06,
         9.32014183e-06, 1.00074205e-05, 1.06214375e-05, 1.08854147e-05,
         1.17225167e-05, 1.21420710e-05, 1.26468290e-05, 1.36449679e-05,
         1.41340328e-05, 1.44307050e-05, 1.60754652e-05, 1.67784116e-05,
         1.71722898e-05, 1.75512255e-05, 1.74337654e-05, 1.73179860e-05,
         1.77149246e-05, 1.80451699e-05, 1.91496717e-05, 1.85760469e-05,
                    nan]]))